{{#each platos as |plato|}}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{plato.image}}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{plato.title}}</h5>
        <p class="card-text">{{plato.price}}</p>
        {{!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> --}}
        <form action="/{{plato.id}}/cesta/delete" method="POST">
          <button type="submit">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/each}}
{{plato.price}}
{{totalPrice}} €
<form action="/cesta/pagar" method="POST">
    <button type="submit">Pay</button>
</form>



