  <img class="card-img-top" src="{{plato.image}}" alt="{{plato.title}}">
  <div class="card-body">
    <h5 class="card-title">{{plato.title}}</h5>
    <p class="card-text">{{plato.description}}</p>
    <p class="card-text">{{plato.price}}€</p>
    {{!-- <a href="/plato/{{plato._id}}" class="btn btn-primary">Ver Más</a> --}}
  </div>
  <a href="/{{plato.id}}/edit">Edit</a>
</div>
