
  <img class="card-img-top" src="{{plato.image}}" alt="{{plato.title}}">
  <div class="card-body">
    <h5 class="card-title">{{plato.title}}</h5>
    <p class="card-text">{{plato.description}}</p>
    <p class="card-text">{{plato.price}}€</p>
    {{!-- <a href="/plato/{{plato._id}}" class="btn btn-primary">Ver Más</a> --}}
  </div>
  <form action="/{{plato.id}}/edit">
  {{#hasRole ./session 'ADMIN'}}
   <button type="submit" class="btn btn-primary btn-sm text-white mr-3">Edit</button>
   {{/hasRole}}
  </form>
  

  <form action="/{{plato.id}}/delete" method="POST">
    {{#hasRole ./session 'ADMIN'}}
    <button type="submit" class="btn btn-danger btn-sm text-white mr-3">Delete Plato</button>
    {{/hasRole}}
  </form>
  
  <form action="/{{plato.id}}/cesta" method="POST">
    {{#hasRole ./session 'USER'}}
    <button type="submit" class="btn btn-primary btn-sm text-white mr-3">Add to basket</button>
    {{/hasRole}}
  </form>
  {{#hasRole ./session 'USER'}}
  <a href="/cesta"><button type="submit" class="btn btn-primary btn-sm text-white mr-3">Go to basket</button></a>
  {{/hasRole}}
