
  <img class="card-img-top" src="{{plato.image}}" alt="{{plato.title}}">
  <div class="card-body">
    <h5 class="card-title">{{plato.title}}</h5>
    <p class="card-text">{{plato.description}}</p>
    <p class="card-text">{{plato.price}}€</p>
    {{!-- <a href="/plato/{{plato._id}}" class="btn btn-primary">Ver Más</a> --}}
  </div>

  <form action="/{{plato.id}}/edit">
  <button type="Submit">Edit</button>
  </form>
  

  <form action="/{{plato.id}}/delete" method="POST">
    <button type="submit">Delete Plato</button>
</form>
<br>
<br>
<form action="/{{plato.id}}/cesta" method="POST">
    <button type="submit">Añadir A Cesta</button>
</form>
<a href="/cesta"><button type="submit">Ir A Cesta</button></a>
