<h2>Edit The Plato</h2>
<form action="/{{plato.id}}" method="post" enctype="multipart/form-data">
  <label>Title</label>
  <input type="text" name="title" value="{{plato.title}}">

  <label></label>
  <input type="text" name="description" value="{{plato.description}}">

  <label>Price</label>
  <input type="number" name="price" value="{{plato.price}}">

  <label>Image</label>
  <input type="file" name="image">

  <input type="submit" value="CREATE">
    {{#each error as |error| }}
    <div class="error-message">{{ error }}</div>
  {{/each}}

</form>
<form action="/{{plato.id}}/delete" method="POST">
    <button type="submit" class="btn btn-danger btn-sm text-white mr-3">Delete Plato</button>
</form>
