
  <form action="/platos" method="POST" enctype="multipart/form-data">

  <div class="form-group">
    <label>Plate Title</label>
    <input type="text" class="form-control {{#if errors.title }}is-invalid{{/if}}" name="title" value="{{plato.title}}"
      placeholder="Enter plate title">

    {{#if errors.title }}
      <div class="invalid-feedback">
        {{errors.title}}
      </div>
    {{/if}}
  </div>

  <div class="form-group">
    <label>Plate Image</label>
    <input type="file" class="form-control {{#if errors.thumbnailUrl }}is-invalid{{/if}}"
      name="image" value="{{plato.image}}">

    {{#if errors.image }}
      <div class="invalid-feedback">
        {{errors.image}}
      </div>
    {{/if}}
  </div>

  <div class="form-group">
    <label>Description</label>
    <textarea rows="10" class="form-control {{#if errors.description }}is-invalid{{/if}}" name="description"
      >{{plato.description}}</textarea>
    
    {{#if errors.description }}
      <div class="invalid-feedback">
        {{errors.description}}
      </div>
    {{/if}}
  </div>

    <div class="form-group">
    <label>Price</label>
    <input type="number" class="form-control {{#if errors.price }}is-invalid{{/if}}"
      name="price" value="{{plato.price}}">

    {{#if errors.image }}
      <div class="invalid-feedback">
        {{errors.image}}
      </div>
    {{/if}}
  </div>

  <div class="d-flex">
    <button type="submit" class="btn btn-danger btn-sm text-white mr-3">Submit</button>
    <a class="btn btn-secondary" href="/home">Back</a>
  </div>
</form> --}}
