{{#each platos as |plato|}}
{{!-- <ul>
  <li>{{plato.title}}<img src="{{ plato.image }}" alt="{{ plato.title }}" /></li>
</ul>
<div class="card" style="width: 18rem;"> --}}
  <img class="card-img-top" src="{{plato.image}}" alt="{{plato.title}}">
  <div class="card-body">
    <h5 class="card-title">{{plato.title}}</h5>
    <p class="card-text">{{plato.price}}</p>
    {{!-- <a href="#" class="btn btn-primary">{{plato.price}}</a> --}}
  </div>
</div>
{{/each}}