{{#each platos as |plato|}}
{{!-- <ul>
  <li>{{plato.title}}<img src="{{ plato.image }}" alt="{{ plato.title }}" /></li>
</ul>
<div class="card" style="width: 18rem;"> --}}
  <img class="card-img-top" src="{{plato.image}}" alt="{{plato.title}}">
  <div class="card-body">
    <h5 class="card-title">{{plato.title}}</h5>
    <p class="card-text">{{plato.price}}€</p>
    <form action="/platos/{{plato.id}}">
      <button type="submit" class="btn btn-danger btn-sm text-white mr-3">
        Ver Más
      </button>
    </form> 
</div>
{{/each}}